html::-webkit-scrollbar {
    display: none
    /* !the actual scrolling element is html, not body in most browser */
}

body {
    background-color: #fefae0;
    display: flex;
    flex-direction: column;
    scrollbar-width: none;
    -webkit-font-smoothing: antialiased
}

#appbar {
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    background-color: #bc6c25;
    height: 50px;
    position: relative;
    top: 0px;
    left: 0px;
    padding: 6px;
    display: flex;
    justify-content: flex-end;
}

.sbtn {
    box-sizing: border-box;
    width: 3%;
    height: 100%;
    background-color: #dda15e;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 4px;
    font-family: "Georgia", serif;
    font-weight: 200;
    font-style: italic;
    font-size: larger;
    
}
.sbtn:hover {
    box-shadow: 10px 5px 5px #dda15e;
    background-color: #bc6c25;
    color: #dda15e;
}

#headingbtn {
    margin-left: auto;
}

#sidebarbtn {
    border-radius: 100%;
    margin-right: auto;
}


    


#layout {
    display: flex;
    justify-content: center;  
}

#notediv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
    height: 700px;
    margin-top: 15px;
    flex-grow: 1;
}

#note {
    position: relative;
    box-sizing: border-box;
    resize: none;
    width: 80%;
    margin: auto;
    height: 100%;
    background-color: #fefae0;
    font-size: 25px;
    font-family: Helvetica, Arial, sns-serif;
    border: none;   /* * Removing Border*/
    outline: none;  /* * Removing focus outline */
    
    overflow: auto; /* * Adding Scroll bar */
    scrollbar-width: none; /* * Firefox */
    -ms-overflow-style: none; /* * Old Edge and IE */   
    /* ! All these and the one below are for removing the scroll bar */ 
} 

/* #note.opennt {
    left: 21%;
    width: 50%;
    top: 21%;
} */

textarea::-webkit-scrollbar {
    display: none; /* * Chrome, Safari, Opera */
}

#head {
    position: relative;
    left: 30%;
    box-sizing: border-box;
    resize: none;
    width: 40%;
    height: 20%;
    background-color: #fefae0;
    font-size: 50px;
    font-family: Helvetica, Arial, sns-serif;
    border: none;
    outline: none;
    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

/* #head.open {
    left: 40%;
    height: 20%;
    z-index: 100;
    top: 20%
} */

#sidebar {
    position: absolute;
    box-sizing: border-box;
    height: 400px; /* ! needs a parent to define it hence cannot be in % */
    width: 17%;
    background-color: #dda15e;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 7px;
    top: 20px;
    display: none;
    z-index: 100;
    margin-right: 10px;

}

#sidebar.open {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
}


.material-symbols-outlined {
    font-variation-settings:
        'FILL' 1,
        'wght' 400,
        'GRAD' 0,
        'opsz' 20
}

.sideIcon {
    width: 175px;
    height: 40px;
    border: none;
    border-radius: 6px;
    background-color: #bc6c25;
    color: #fefae0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

#prevNotes {
    margin-top: 15px;
}

#savedCont {
    position: absolute;
    height: 400px;
    width: 600px;
    background-color: #dda15e;
    top: 78px;
    left: 259px;
    display: none;
}

#savedCont.open {
    display: block;
}

#aboutBox {
    position: absolute;
    height: 400px;
    width: 600px;
    background-color: #dda15e;
    top: 78px;
    left: 259px;
    display: none;
}

#aboutBox.open {
    display: block;
}