/* =========================
   Global / Scrollbar
   ========================= */

html::-webkit-scrollbar {
    display: none;
    /* ! the actual scrolling element is html, not body in most browsers */
}

body {
    background-color: #fefae0;
    display: flex;
    flex-direction: column;

    scrollbar-width: none;
    /* Firefox */
    -webkit-font-smoothing: antialiased;
}


/* =========================
   App Bar
   ========================= */

#appbar {
    box-sizing: border-box;
    width: 100%;
    height: 50px;

    background-color: #bc6c25;

    position: relative;
    top: 0;
    left: 0;

    padding: 6px;

    display: flex;
    justify-content: flex-end;
}


/* =========================
   Buttons
   ========================= */

.sbtn {
    box-sizing: border-box;
    width: 3%;
    height: 100%;

    background-color: #dda15e;

    display: flex;
    justify-content: center;
    align-items: center;

    border: none;
    border-radius: 4px;

    font-family: "Georgia", serif;
    font-weight: 200;
    font-style: italic;
    font-size: larger;

    position: relative;
    /* needed for ::before */
    overflow: hidden;
    z-index: 1;
}

.sbtn::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;

    width: 0%;
    height: 100%;

    background-color: #fefae0;
    transition: all 0.3s;

    z-index: -1;
}

.sbtn:hover {
    color: #bc6c25;
}

.sbtn:hover::before {
    width: 100%;
}

#headingbtn {
    margin-left: auto;
}

#sidebarbtn {
    margin-right: auto;
    border-radius: 100%;
}


/* =========================
   Layout
   ========================= */

#layout {
    display: flex;
    justify-content: center;
}


/* =========================
   Note Area
   ========================= */

#notediv {
    display: flex;
    flex-direction: column;
    justify-content: center;

    box-sizing: border-box;
    width: 100%;
    height: 700px;

    margin-top: 15px;
    flex-grow: 1;
}

#note {
    position: relative;

    box-sizing: border-box;
    resize: none;

    width: 80%;
    height: 100%;
    margin: auto;

    background-color: #fefae0;

    font-size: 25px;
    font-family: Helvetica, Arial, sns-serif;

    border: none;
    outline: none;

    overflow: auto;
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* IE / old Edge */
}

textarea::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, Opera */
}

#head {
    position: relative;
    left: 30%;

    box-sizing: border-box;
    resize: none;

    width: 40%;
    height: 20%;

    background-color: #fefae0;

    font-size: 50px;
    font-family: Helvetica, Arial, sns-serif;

    border: none;
    outline: none;

    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}


/* =========================
   Sidebar
   ========================= */

#sidebar {
    position: relative;
    top: 10px;
    left: 0px;

    box-sizing: border-box;
    width: 5%;
    height: 400px;

    background-color: #dda15e;

    border: none;
    border-radius: 7px;

    margin-right: 10px;
    z-index: 1;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    transition: width 0.3s ease;

    overflow: hidden;
}

#sidebar.open {
    position: relative;
    width: 20%;
    overflow: hidden;
}


/* =========================
   Icons
   ========================= */

.material-symbols-outlined {
    color: #bc6c25;
    font-variation-settings:
        'FILL' 1,
        'wght' 400,
        'GRAD' 0,
        'opsz' 20;
}


/* =========================
   Sidebar Buttons
   ========================= */
.content {
    display: flex;
    justify-content: flex-start;
}   
.sidebuttcon {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    flex-shrink: 1;
    
}

.iconlayer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    flex-shrink: 0;
}

.imgicon {
    margin-top: 30px;
    /* Applying animation */

}

#sidebar.open .imgicon {
    animation: spin 0.3s linear;
}

@keyframes spin {
    from{
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
    
}
#sidebar.open .imgicon {
    margin-right: 5px;
}

#prevNotes {
    width: 0px;
    height: 40px;
    padding: 0px;
    margin-top: 20px;

    background-color: #bc6c25;
    border: none;
    border-radius: 6px;
    overflow: hidden;
    display: flex;
    transition: width 0.3s ease;
}

#prevNotes.open {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    overflow: hidden;
     /*So text don't go on double line*/
    width:175px;
}

#prevNotes p {
    white-space: nowrap;
}


/* =========================
   Popup Containers
   ========================= */

#savedCont,
#aboutBox {
    position: absolute;
    top: 78px;
    left: 259px;

    width: 600px;
    height: 400px;

    background-color: #dda15e;
    display: none;
}

#savedCont.open,
#aboutBox.open {
    display: block;
}